.toggleRow {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-neutral-200);
}

.button {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  padding: 0.5rem 1.5rem 0.5rem 0;
  color: var(--secondary-text);
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  color: var(--main-text);
}

.activeButton {
  composes: button;
  border-bottom-color: var(--color-black);
  color: var(--main-text);
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  .activeButton {
    border-bottom-color: var(--accent);
  }
}
