.mapWrapper {
  position: relative;
  background-color: var(--color-neutral-50);
  border: 1px solid var(--card-border);
  padding: 0.5rem;
}

.svg {
  fill: var(--map-background);
  stroke: var(--secondary-text);
}

.svgText {
  fill: var(--main-text);
  stroke: none;
}

.legend {
  stroke: var(--secondary-text);
}

.activeState {
  font-weight: bold;
}

.svgSkeleton {
  fill: transparent;
  stroke: var(--color-neutral-300);
}

.stateFill0 {
  fill: var(--map-background);
}

.stateFill1 {
  fill: var(--color-lime-50);
}

.stateFill2 {
  fill: var(--color-lime-100);
}

.stateFill3 {
  fill: var(--color-lime-300);
}

.stateFill4 {
  fill: var(--color-lime-500);
}

.stateFill5 {
  fill: var(--color-lime-600);
}

.stateFill6 {
  fill: var(--color-lime-800);
}

.stateFill7 {
  fill: var(--color-lime-950);
}

.stateFill1,
.stateFill2,
.stateFill3,
.stateFill4,
.stateFill5,
.stateFill6,
.stateFill7 {
  cursor: pointer;
}

.stateLink {
  &:hover,
  &:focus,
  &:active {
    filter: brightness(0.9);
    outline: none;
  }
}

@media (prefers-color-scheme: dark) {
  .mapWrapper {
    background-color: var(--color-black);
  }

  .svg,
  .legend {
    stroke: var(--color-neutral-600);
  }

  .svgSkeleton {
    stroke: var(--secondary-text);
  }

  .stateFill1 {
    fill: var(--color-lime-950);
  }

  .stateFill2 {
    fill: #2a4400;
  }

  .stateFill3 {
    fill: #3f6800;
  }

  .stateFill4 {
    fill: var(--color-lime-600);
  }

  .stateFill5 {
    fill: var(--color-lime-500);
  }

  .stateFill6 {
    fill: #97cc1f;
  }

  .stateFill7 {
    fill: var(--color-lime-300);
  }

  .stateLink {
    &:hover,
    &:focus,
    &:active {
      filter: brightness(1.3);
    }
  }
}
