.tooltipIcon {
  font-size: 0.75em;
  vertical-align: super;
  line-height: 0;
}

.tooltipButton {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: 0.8rem;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}

.tooltip {
  padding: 0.5rem;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--card-border);
  background-color: var(--card-background);
  max-width: 20rem;
  font-size: 0.9rem;

  p:last-child {
    margin-bottom: 0;
  }
}
