.recentExpenditureRow {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  &:has(~ .recentExpenditureRow) {
    border-bottom: 1px solid var(--table-color);
    margin-bottom: 1rem;
  }
}

.expenditureDate {
  font-family: var(--font-mono);
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  color: var(--secondary-text);
}

.expenditureDescription {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.expenditureParty {
  font-size: 0.9rem;
}

.expenditureNameAndAmount {
  display: flex;
  justify-content: space-between;
  margin: 0.1rem 0.1rem 0.1rem 0;
}

.expenditureAmount {
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

.expenditureCommittee {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expenditureTarget {
  margin: 0.1rem 0.1rem 0.1rem 0;
}

.tableCardContent {
  padding: 1rem;
}

.subtitle {
  color: var(--secondary-text);
  font-size: 0.9em;
  margin-bottom: 1em;
}
