.totalsRow {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 20rem;
}

@media (min-width: 576px) {
  .totalsRow {
    grid-template-columns: repeat(2, 1fr);
    max-width: unset;
  }
}

@media (min-width: 768px) {
  .totalsRow {
    grid-template-columns: repeat(3, 1fr);
    max-width: calc(3 * 20rem + 2 * 1rem);
  }
}
