.contributionRow {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  & ~ .contributionRow {
    border-top: 1px solid var(--card-border);
  }
}

.contributionSummary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  column-gap: 0.25rem;
}

.contributionsContainer {
  display: flex;
  flex-direction: column;
}

.contributionSubRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  font-size: 0.9rem;
}

.subRowCurrency {
  font-variant-numeric: tabular-nums;
}

.summaryAmount {
  font-variant-numeric: tabular-nums;
  font-weight: bold;
}

.contributionCommittee {
  font-weight: bold;
}

.aliasAndDate {
  align-items: center;
}

.contributionDate {
  font-size: 0.9rem;
  white-space-collapse: preserve;

  &:not(:first-child) {
    &::before {
      content: " – ";
    }
  }
}

.committeeDetails {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.committeeDetail {
  font-family: var(--font-serif);
  font-style: italic;
  color: var(--secondary-text);

  &:not(:first-child) {
    &:before {
      content: " · ";
      margin: 0 0.25rem;
    }
  }
}

.svgWrapper {
  overflow: hidden;
  height: 20rem;
}

.svg {
  width: 100%;
  height: 100%;
  fill: var(--main-text);
}

.skeletonBar {
  fill: var(--chart-skeleton);
}

.partyLabel {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 575px) {
  .contributionSubRow {
    align-items: flex-start;
  }

  .contributionDetails {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .contributionDate:not(:first-child)::before {
    content: "";
  }
}
