.heroWithStat {
  composes: heroWithStat from "@/app/shared.module.css";
  margin-bottom: 2rem;
}

.committeeRow {
  &:not(:last-child) {
    border-bottom: 1px solid var(--table-color);
  }
}

.byCommitteeTable {
  width: 100%;
  font-size: 0.9rem;
  font-variant-numeric: tabular-nums;

  tr td:first-child {
    padding-left: 0;
  }

  tr td:nth-child(2) {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .committeeSection {
    margin-top: 1rem;
  }
}
