.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.oppositionSpendingTable {
  margin-top: 2rem;
}

.incidental {
  color: var(--tertiary-text);
  font-style: italic;
}

.spendingChart {
  margin-bottom: 1rem;
}
