.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
}

.oppositionSpendingTable {
  margin-top: 2rem;
}

.incidental {
  color: var(--tertiary-text);
  font-style: italic;
}
